/* MyEvents.css */

.my-events-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure relative positioning for absolute button */
}

.my-events-heading {
    font-size: 2rem;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.calendar-container {
    height: 600px;
    margin-top: 20px;
}

.calendar {
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.view-event-button-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.view-event-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-event-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
