.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.logo {
    display: inline-block;
    text-align: center;
    color: deepskyblue;
    text-decoration: none;
}

.logo-top {
    display: block;
    font-size: 1.75em;
    font-weight: bold;
}

.logo-bottom {
    display: block;
    font-size: 0.5em;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        margin-right: 1rem;
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
    }

        .nav-links a:hover {
            text-decoration: underline;
        }

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes navbar-right to the rightmost */
}

    .navbar-right .nav-links li {
        margin-left: 1rem; /* Adjust the spacing between links */
    }

    .navbar-right .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
    }
